<h1>Browse Forge Hub <%= @hub.name %></h1>

<ul>
  <li>id: <%= @hub.id %></li>
  <li>name: <%= @hub.name %></li>
  <li>type: <%= @hub.type %></li>
</ul>

<%= link_to forge_data_hubs_path, class: "btn btn-default", type: "button" do %>
  <span class="glyphicon glyphicon-arrow-left"></span>
  Back
<% end %>  
