<h1>Browse Forge Hub <%= @hub.name %></h1>

<ul>
  <li>id: <%= @hub.id %></li>
  <li>name: <%= @hub.name %></li>
  <li>type: <%= @hub.type %></li>
</ul>

<%= link_to 'Back to Hubs', forge_data_hubs_path %></td>
