<h1>Browse Forge Folders and Files</h1>

<div class="btn-group" role="group" id="toolbar-container">
  <%= link_to :back, class: "btn btn-default", type: "button" do %>
    <span class="glyphicon glyphicon-level-up"></span>
    Back
  <% end %>  
  <a type="button" class="btn btn-default" href="#" data-toggle="modal" data-target="#modal-upload-form">
    <span class="glyphicon glyphicon-open-file"></span>
    Upload new file
  </a>
</div>

<%= render partial: "upload_form" %>

<%= render partial: "flash_info" %>

<table class="table">
  <tr>
    <!-- <th>id</th> -->
    <th>Name</th>
    <th>Type</th>
    <!-- <th>Project id</th> -->
    <th>Created</th>
    <!-- <th>Create user id</th> -->
    <th>Created by</th>
    <th>Last modified</th>
    <!-- <th>last modified user id</th> -->
    <th>Last modified by</th>
    <th>Objects count</th>
    <th>Hidden</th>
    <!-- :self_link, :contents_link, :tip_link, :parent_link -->
    <th></th>
  </tr>

  <% @items.each do |item| %>
    <tr>
      <!-- <td><%= item.id %></td> -->
      <td>
        <% if item.type == "folders" %>
          <span class="glyphicon glyphicon-folder-open"></span>
          <%= link_to item.name, forge_data_items_path(item.project_id, item.id) %>
        <% else %>
          <span class="glyphicon glyphicon-file"></span>
          <%= item.name %>
        <% end %>
      </td>
      <td><%= item.type %></td>
      <!-- <td><%= item.project_id %></td> -->
      <td><%= item.create_time.strftime("%F")  %></td>
      <!-- <td><%= item.create_user_id %></td> -->
      <td><%= item.create_user_name %></td>
      <td><%= item.last_modified_time.strftime("%F") %></td>
      <!-- <td><%= item.last_modified_user_id %></td> -->
      <td><%= item.last_modified_user_name %></td>
      <td><%= item.object_count %></td>
      <td><%= item.hidden %></td>

      <% if item.type == "folders" %>
        <td><%= link_to 'Properties', forge_data_folder_show_path(item.project_id, item.id) %>
        </td>
      <% else %>
        <td><%= link_to 'Properties', forge_data_item_show_path(item.project_id, item.id) %></td>
      <% end %>
    </tr>
  <% end %>
</table>