<h1>Browse Forge Folder <%= @item.name %></h1>

<table class="table">
  <tr><td>id:</td><td><%= @item.id %></td></tr>
  <tr><td>name:</td><td><%= @item.name %></td></tr>
  <tr><td>type:</td><td><%= @item.type %></td></tr>
  <tr><td>project_id:</td><td><%= @item.project_id %></td></tr>
  <tr><td>create_time:</td><td><%= @item.create_time %></td></tr>
  <tr><td>create_user_id:</td><td><%= @item.create_user_id %></td></tr>
  <tr><td>create_user_name:</td><td><%= @item.create_user_name %></td></tr>
  <tr><td>last_modified_time:</td><td><%= @item.last_modified_time %></td></tr>
  <tr><td>last_modified_user_id:</td><td><%= @item.last_modified_user_id %></td></tr>
  <tr><td>last_modified_user_name:</td><td><%= @item.last_modified_user_name %></td></tr>
  <tr><td>object_count:</td><td><%= @item.object_count %></li>
  <tr><td>hidden:</td><td><%= @item.hidden %></li>
</table>

<%= link_to :back, class: "btn btn-default", type: "button" do %>
  <span class="glyphicon glyphicon-arrow-left"></span>
  Back
<% end %>  
