<h1>Browse Forge Item <%= @item.name %></h1>

<script>
  var access_token      = '<%=  @access_token %>';
  var content_link      = '<%=  @item.content_link %>';
  var content_mime_type = '<%= @item.mime_type %>';
  var content_file_name = '<%= @item.name %>';
  var content_thumbnail = '<%= @item.thumbnails_link %>';
</script>

<%= render partial: "flash_info" %>

<table class="table">
  <tr><td>id:</td><td><%= @item.id %></td></tr>
  <tr><td>name:</td><td><%= @item.name %></td></tr>
  <tr><td>type:</td><td><%= @item.type %></td></tr>
  <tr><td>project_id:</td><td><%= @item.project_id %></td></tr>
  <tr><td>create_time:</td><td><%= @item.create_time %></td></tr>
  <tr><td>create_user_id:</td><td><%= @item.create_user_id %></td></tr>
  <tr><td>create_user_name:</td><td><%= @item.create_user_name %></td></tr>
  <tr><td>last_modified_time:</td><td><%= @item.last_modified_time %></td></tr>
  <tr><td>last_modified_user_id:</td><td><%= @item.last_modified_user_id %></td></tr>
  <tr><td>last_modified_user_name:</td><td><%= @item.last_modified_user_name %></td></tr>
  <tr><td>object_count:</td><td><%= @item.object_count %></td></tr>
  <tr><td>hidden:</td><td><%= @item.hidden %></td></tr>

  <tr><td>name_internal:</td><td><%= @item.name_internal %></td></tr>
  <tr><td>version_number:</td><td><%= @item.version_number %></td></tr>
  <tr><td>mime_type:</td><td><%= @item.mime_type %></td></tr>
  <tr><td>file_type:</td><td><%= @item.file_type %></td></tr>
  <tr><td>storage_size:</td><td><%= number_to_human_size @item.storage_size %></td></tr>
  <tr><td>derivatives_link:</td><td><%= @item.derivatives_link %></td></tr>
  <tr><td>thumbnails_link:</td><td><%= @item.thumbnails_link %></td></tr>
  <tr><td>content_link:</td><td><%= @item.content_link %></td></tr>
  <tr><td>content_urn:</td><td><%= @item.content_urn %></td></tr>
  <tr><td>thumbnail:</td><td><img data-thumbnail/></td></tr>
</table>

<div>
  <%= link_to :back, class: "btn btn-default", type: "button" do %>
    <span class="glyphicon glyphicon-arrow-left"></span>
    Back
  <% end %>  
  <a class="btn btn-default" href="#" data-download-content>
    <span class="glyphicon glyphicon-save-file"></span>
    Download
  </a>
  <%= link_to forge_derivative_translate_path(@item.project_id, @item.id), class: "btn btn-default", type: "button" do %>
    <span class="glyphicon glyphicon-transfer"></span>
    Translate
  <% end %>  
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      <span class="glyphicon glyphicon-blackboard"></span>
      View
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <% (1..3).each do |i| %>
        <li><%= link_to "Use viewer # #{i}", forge_viewer_view_path(@item.project_id, @item.id, i), target: :_blank %></li>
      <% end %>
    </ul>
  </div>
</div>

