<h1>Browse Forge Item <%= @item.name %></h1>

<script>
  var access_token      = '<%=  @access_token %>';
  var content_link      = '<%=  @item.content_link %>';
  var content_mime_type = '<%= @item.mime_type %>';
  var content_file_name = '<%= @item.name %>';
  var content_thumbnail = '<%= @item.thumbnails_link %>';
</script>

<%= render partial: "flash_info" %>

<ul>
  <li>id: <%= @item.id %></li>
  <li>name: <%= @item.name %></li>
  <li>type: <%= @item.type %></li>
  <li>project_id: <%= @item.project_id %></li>
  <li>create_time: <%= @item.create_time %></li>
  <li>create_user_id: <%= @item.create_user_id %></li>
  <li>create_user_name: <%= @item.create_user_name %></li>
  <li>last_modified_time: <%= @item.last_modified_time %></li>
  <li>last_modified_user_id: <%= @item.last_modified_user_id %></li>
  <li>last_modified_user_name: <%= @item.last_modified_user_name %></li>
  <li>object_count: <%= @item.object_count %></li>
  <li>hidden: <%= @item.hidden %></li>

  <li>name_internal: <%= @item.name_internal %></li>
  <li>version_number: <%= @item.version_number %></li>
  <li>mime_type: <%= @item.mime_type %></li>
  <li>file_type: <%= @item.file_type %></li>
  <li>storage_size: <%= number_to_human_size @item.storage_size %></li>
  <li>derivatives_link: <%= @item.derivatives_link %></li>
  <li>thumbnails_link: <%= @item.thumbnails_link %></li>
  <li>content_link: <%= @item.content_link %></li>
  <li>content_urn: <%= @item.content_urn %></li>

</ul>

<div><img data-thumbnail/><div/>
<p> </p>
<div>
  <%= link_to :back, class: "btn btn-default", type: "button" do %>
    <span class="glyphicon glyphicon-arrow-left"></span>
    Back
  <% end %>  
  <a class="btn btn-default" href="#" data-download-content>
    <span class="glyphicon glyphicon-save-file"></span>
    Download
  </a>
  <%= link_to forge_derivative_translate_path(@item.project_id, @item.id), class: "btn btn-default", type: "button" do %>
    <span class="glyphicon glyphicon-transfer"></span>
    Translate
  <% end %>  
  <%= link_to forge_viewer_view_path(@item.project_id, @item.id), target: :_blank, class: "btn btn-default", type: "button" do %>
    <span class="glyphicon glyphicon-blackboard"></span>
    View
  <% end %>  
</div>

