<h1>Browse Forge Folder <%= @item.name %></h1>

<ul>
  <li>id: <%= @item.id %></li>
  <li>name: <%= @item.name %></li>
  <li>type: <%= @item.type %></li>
  <li>project_id: <%= @item.project_id %></li>
  <li>create_time: <%= @item.create_time %></li>
  <li>create_user_id: <%= @item.create_user_id %></li>
  <li>create_user_name: <%= @item.create_user_name %></li>
  <li>last_modified_time: <%= @item.last_modified_time %></li>
  <li>last_modified_user_id: <%= @item.last_modified_user_id %></li>
  <li>last_modified_user_name: <%= @item.last_modified_user_name %></li>
  <li>object_count: <%= @item.object_count %></li>
  <li>hidden: <%= @item.hidden %></li>
</ul>

<div><a href="#" data-show-upload-form>Upload new file</a></div>
<div class="upload-form">
<%= form_tag({action: :upload}, multipart: true) do %>
  <%= file_field_tag 'uploaded_file' %>
  <%= submit_tag("Upload") %>
<% end %>
</div>
