<h1>Browse Forge Projects</h1>

<table class="table">
  <tr>
    <!-- <th>Id</th> -->
    <th>Name</th>
    <th>Type</th>
    <!-- <th>Hub id</th> -->
    <!-- <th>Root folder id</th> -->
    <th></th>
  </tr>

  <% @projects.each do |project| %>
    <tr>
      <!-- <td><%= project.id %></td> -->
      <td>
        <span class="glyphicon glyphicon-inbox"></span>
        <%= link_to project.name, forge_data_items_path(project.id, project.root_folder_urn) %>
      </td>
      <td><%= project.type %></td>
      <!-- <td><%= project.hub_id %></td> -->
      <!-- <td><%= project.root_folder_urn %></td> -->

      <td><%= link_to 'Properties', forge_data_project_show_path(project.hub_id, project.id) %>
      </td>
    </tr>
  <% end %>
</table>

