<h1>Browse Forge Object <%= @object.name %></h1>

<%= render partial: "flash_info" %>

<table class="table">
  <tr><td>id:</td><td><%= @object.id %></td></tr>
  <tr><td>name:</td><td><%= @object.name %></td></tr>
  <tr><td>bucket_id:</td><td><%= @object.bucket_id %></td></tr>
  <tr><td>sha1:</td><td><%= @object.sha1 %></td></tr>
  <tr><td>size:</td><td><%= number_to_human_size @object.size %></td></tr>
  <tr><td>location:</td><td><%= @object.location %></td></tr>
</table>

<div>
  <%= link_to forge_data_objects_path(@object.bucket_id), class: "btn btn-default", type: "button" do %>
    <span class="glyphicon glyphicon-arrow-left"></span>
    Back
  <% end %>  
  <!-- <a class="btn btn-default" href="#" data-download-content-object>
    <span class="glyphicon glyphicon-save-file"></span>
    Download
  </a> -->
  <%= link_to forge_derivative_translate_object_path(bucket_id: @object.bucket_id, object_name: @object.name, object_id: @object.id), class: "btn btn-default", type: "button" do %>
    <span class="glyphicon glyphicon-transfer"></span>
    Translate
  <% end %>  
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      <span class="glyphicon glyphicon-blackboard"></span>
      View
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <% (1..3).each do |i| %>
        <li><%= link_to "Use viewer # #{i}", forge_viewer_view_object_path(@object.bucket_id, @object.name, i), target: :_blank %></li>
      <% end %>
    </ul>
  </div>
</div>