<h1>Browse Forge Object <%= @object.name %></h1>

<%= render partial: "flash_info" %>

<ul>
  <li>id: <%= @object.id %></li>
  <li>name: <%= @object.name %></li>
  <li>bucket_id: <%= @object.bucket_id %></li>
  <li>sha1: <%= @object.sha1 %></li>
  <li>size: <%= number_to_human_size @object.size %></li>
  <li>location: <%= @object.location %></li>
</ul>

<div>
  <%= link_to forge_data_objects_path(@object.bucket_id), class: "btn btn-default", type: "button" do %>
    <span class="glyphicon glyphicon-arrow-left"></span>
    Back
  <% end %>  
  <!-- <a class="btn btn-default" href="#" data-download-content-object>
    <span class="glyphicon glyphicon-save-file"></span>
    Download
  </a> -->
  <%= link_to forge_derivative_translate_object_path(bucket_id: @object.bucket_id, object_name: @object.name, object_id: @object.id), class: "btn btn-default", type: "button" do %>
    <span class="glyphicon glyphicon-transfer"></span>
    Translate
  <% end %>  
  <%= link_to forge_viewer_view_object_path(@object.bucket_id, @object.name), target: :_blank, class: "btn btn-default", type: "button" do %>
    <span class="glyphicon glyphicon-blackboard"></span>
    View
  <% end %>
</div>