<h1>Browse Forge Bucket <%= @object.id %></h1>

<ul>
  <li>id: <%= @object.id %></li>
  <li>name: <%= @object.name %></li>
  <li>bucket_id: <%= @object.bucket_id %></li>
  <li>sha1: <%= @object.sha1 %></li>
  <li>size: <%= @object.size %></li>
  <li>location: <%= @object.location %></li>
</ul>

<%= link_to 'Back to Objects', forge_data_objects_path(@object.bucket_id) %></td>
