<h1>Browse Forge Bucket <%= @bucket.id %></h1>

<table class="table">
  <tr><td>id:</td><td><%= @bucket.id %></td></tr>
  <tr><td>created_date:</td><td><%= @bucket.created_date %></td></tr>
  <tr><td>policy_key:</td><td><%= @bucket.policy_key %></td></tr>
</table>

<%= link_to forge_data_buckets_path, class: "btn btn-default", type: "button" do %>
  <span class="glyphicon glyphicon-arrow-left"></span>
  Back
<% end %>  
