<h1>Browse Forge Bucket <%= @bucket.id %></h1>

<ul>
  <li>id: <%= @bucket.id %></li>
  <li>created_date: <%= @bucket.created_date %></li>
  <li>policy_key: <%= @bucket.policy_key %></li>
</ul>

<%= link_to forge_data_buckets_path, class: "btn btn-default", type: "button" do %>
  <span class="glyphicon glyphicon-arrow-left"></span>
  Back
<% end %>  
